.cm-lkcampbell-indent-guides {
    position: relative;
    background-image: url(indent-guide.svg);
    background-repeat: repeat-y;
}

.cm-lkcampbell-indent-guides-dotted {
    position: relative;
    background-image: url(indent-guide-dotted.svg);
    background-repeat: repeat-y;
}
